* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main.app {
	max-width: 500px;
	min-height: 500px;
	margin-inline: auto;
	margin-top: 50px;
	padding: 30px;
}

form.meme input,
form.meme button {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

form.meme button {
	font-size: 20px;
	cursor: pointer;
  transition: 0.3s;
}

form.meme button:hover {
	background-color: black;
	color: white;
}

section.meme-image {
	position: relative;
}

section.meme-image img {
	width: 100%;
}

section.meme-image h2 {
	position: absolute;
	color: white;
	padding: 10px;
	transform: translateX(-50%);
}

.top {
	top: 0;
	left: 50%;
}

.bottom {
	bottom: 0;
	left: 50%;
}

section button {
  width: 100%;
  margin-bottom: 20px;
  padding-block: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}